*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f2f5;
}
.mainbox{
    /* background-color: tomato; */
    display: flex;
    /* background-color: tomato; */
    flex-direction: row;
    justify-content: space-between;
    height: 95%;
    background-color: #f0f2f5;
}

.leftbox{
    /* background-color: red; */
    width: fit-content;
    /* display: flex; */
    /* flex-direction: column; */
    margin-top: 12%;
    margin-left: 18%;
    line-height: 88px;
}
.leftbox h1 {
    color: rgba(45, 45, 224, 0.829);
    font-size: 64px;
    font-family: inherit;
}
.leftbox p{
    font-size: 28px;
    line-height: 32px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
/* .rightbox{
    background-color: white;
    height: 349.4px;
    width: 396px;
    border-radius: 12px;
    
    margin-bottom: 80%;
    position: relative;
    bottom: 150px;
    margin-left: 40%;
    margin-left: 60%;
} */
.rightbox{
    width: 396px;
    height: 349.4px;
    background-color: white;
    border-radius: 12px;
    margin-top: 9%;
    margin-right: 16%;
    
}
.userdet{
    display: flex;
    flex-direction: column;
    column-gap: 4px;
    align-items: center;
    margin-top: 6px;
}
#uname {
    border-radius: 4px;
    margin: 8px 8px;
    padding: 12px;
    height: 52px;
    width: 364px;
    border: 1px solid rgba(187, 187, 235, 0.829);
    background-color: #FFFFFF;
}
#uname::placeholder{
    font-size: 17px;
}
#pswrd{
    border-radius: 4px;
    margin: 8px 8px;
    padding: 12px;
    height: 52px;
    width: 364px;
    border: 1px solid rgba(187, 187, 235, 0.829);}
#pswrd::placeholder{
    font-size: 17px;
}
#submit{
    background-color: #1877f2;
    border-radius: 4px;
    margin: 8px 8px;
    padding: 12px;
    height: 52px;
    width: 364px;
    border: none;
    color: white;
    font-size: 19px;
    cursor: pointer;
}
.rightbox p {
   color: #1877f2;
   text-align: center;
   cursor: pointer;
}
.rightbox p:hover{
    text-decoration: underline;
}
#create{
    height: 48px;
    width: 196.69px;
    background-color:  #42b72a;
    border-radius: 9px;
    border: none;
    color: white;
    font-size: 18px;
    margin-left: 28%;
    margin-top: 14%;

}
.texbsub{
    
    width: fit-content;
    
    margin-top: 28px;
    float: right;
    margin-right: 19%;
}
